<div class="uv_instructions">
	<p>The <b>reindexer</b> shows all the processes available to documents of this type.  You can reindex the entire document, which means that each of the default processes will be run on the document, in order.  Or, you can choose a process to run individually.</p>
	<p>Please note, not all processes are run by default.</p>
</div>
<div>
	<a class="uv_button" onclick="onReindexRequested();">Reindex entire document</a>
</div>
<div>
	<table>
		<tr>
			<td>
				<ol id="uv_reindex_list"></ol>
			</td>
			<td width="60%">
				<div id="uv_pipe_builder"></div>
			</td>
		</tr>
	</table>
</div>