<div class="uv_instructions">
	<p>The <b>reindexer</b> shows all the processes available to documents of this type.  You can reindex the entire document, which means that each of the default processes will be run on the document, in order.  Or, you can choose a process to run individually.</p>
	<p>Please note, not all processes are run by default.</p>
</div>
<div>
	<a class="uv_button" onclick="onReindexRequested(this);">Reindex entire document</a>
	<span class=".cp_waiter"></span>
</div>
<div>
	<table>
		<tr>
			<td>
				<ol id="uv_reindex_list"></ol>
			</td>
			<td>
				<p>Or, build a task list:<br />Package.module.function, Package.module.function</p>
				<textarea id="uv_reindex_custom"></textarea>
				<p>With extras:<br />{ key: value }</p>
				<textarea id="uv_reindex_custom_extras"></textarea>
				<a class="uv_button" onclick="onCustomTaskRequested(this);">Reindex on path</a>
			</td>
		</tr>
	</table>
</div>