<div id="uv_synctask_add_holder">
	<table>
		<tr>
			<td>
				<p class="uv_mandatory">
					Script: (.py, .sh currently supported.)
					<input 
						name="unveillance.uvscript.file" 
						class="uv_mandatory" type="file"
						uv_error_msg="File cannot be empty!" />
					<span class="uv_error_msg"></span>
				</p>
			</td>
			<td>
				<p class="uv_mandatory">
					Execute: 
					<select name="unveillance.uvscript.target">
						<option selected="true" value="l">locally</option>
						<option value="r">remotely</option>
					</select>
				</p>
			</td>
			<td>
				<p>
					Run: every
					<input size="3" value="1" name="unveillance.uvscript.cron.num" type="text" />
					<select name="unveillance.uvscript.cron.frequency">
						<option selected="true" value="d">day(s)</option>
						<option value="h">hour(s)</option>
						<option value="m">minute(s)</option>
					</select>
				</p>
			</td>
			<td><a id="uv_synctask_commit">Add</a></td>
		</tr>
	</table>
</div>