div.uv_legend {
	width:10%;
	height:auto;
	border:2px solid #000;
	position:relative;
	background-color:#fff;
	float:right;
	margin:0.6em;
	padding:0.4em;
}

h3.uv_viz_header {
	clear:both;
}

.uv_viz path.uv_it_link {
	stroke: #ccc;
	fill: none;
	shape-rendering: crispEdges;
}

.uv_viz path.uv_graph {
	fill: none;
	stroke-width:3;
}

#ic_progressNotifierViewHolder, #ic_header_view_holder {
	display:none;
	width:95%;
	margin:0 auto;
}

#ic_progressNotifierViewHolder.rendered, #ic_header_view_holder.rendered {
	display:block;
}

#ic_header_view_holder ul {
	padding:0;
}

#submission_permalink {
	width:90%;
	max-width:540px;
}

.graph_holder {
	width:45%;
	margin-left:2.5%;
	float:left;
}

.graph_holder:nth-child(even) {
	clear:both;
	margin-left:0;
}

#ic_gps_coords_view_holder {
	width:90%;
	clear:both;
}

#ic_gps_coords_view_holder div.rendered {
	height:400px;
	width:45%;
	margin-left:2.5%;
	float:left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#ic_linechart_view_holder {
	width:90%;
	clear:both;
	position:relative;
}

#ic_linechart_view_holder svg {
	position:absolute;
	top:0;
	left:0;
	height:400px;
}

#ic_linechart_view_holder #graph_controls {
	height:100px;
	width:722px;
	margin:410px auto 0 auto;
}

#ic_linechart_view_holder #graph_controls #graph_select {
	height:100px;
}

g .label {
	font-size:14pt;
}

.line, .line.acc_x {
  fill: none;
  stroke:#00A;
  stroke-width: 1.5px;
}

.label.acc_x {
	fill:#00A;
}

.line.acc_y {
	stroke:#A00;
}

.label.acc_y {
	fill:#A00;
}

.line.acc_z {
	stroke:#0A0;
}

.label.acc_z {
	fill:#0A0;
}

.line.pressureAltitude, .y.axis.pressureAltitude {
	color:#00A;
	stroke:#00A;
}

.label.pressureAltitude {
	fill:#00A;
}

.line.lightMeter, .y.axis.lightMeter {
	color:#0AA;
	stroke:#0AA;
}

.label.lightMeter {
	fill:#0AA;
}

.line.GPSAccuracy, .y.axis.GPSAccuracy {
	color:#A0A;
	stroke:#A0A;
}

.label.GPSAccuracy {
	fill:#A0A;
}

.line.GPSBearing, .y.axis.GPSBearing {
	color:#AA0;
	stroke:#AA0;
}

.label.GPSBearing {
	fill:#AA0;
}

.line.pressureHPAOrMBAR, .y.axis.pressureHPAOrMBAR {
	color:#0A0;
	stroke:#0A0;
}

.label.pressureHPAOrMBAR {
	fill:#0A0;
}

#ic_appended_user_data ul {
	margin-left:16px;
}
