<div id="uv_annex_values_holder" class="uv_form_elements">
	<p class="uv_mandatory">
		Local Folder: 
		<input 
			name="unveillance.local_remote.folder" 
			class="uv_mandatory" type="text"
			uv_error_msg="Folder cannot be blank!" />
		<span class="uv_error_msg"></span>
	</p>
	<p class="uv_mandatory">
		Password: 
		<input 
			name="unveillance.local_remote.password" 
			class="uv_mandatory" type="password"
			uv_error_msg="Invalid password!" />
		<span class="uv_error_msg"></span>
	</p>
	<p class="uv_mandatory uv_confirm">
		Confirm Password: 
		<input 
			name="unveillance.local_remote.password.confirm" 
			class="uv_confirm uv_mandatory" type="password"
			uv_error_msg="Password must match!" />
		<span class="uv_error_msg"></span>
	</p>
</div>